__pycache__/
*.py[cod]
*.class
*.so
.env
.venv
env/
venv/
ENV/
.DS_Store
*.log
app/services/ebay/ebaysdk-python/
app/services/vintageandrare/templates/vintageandrare_export_20250203_1032 2.csv

.Spotlight-V100
.Trashes__pycache__/
*.py[cod]
.env
# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/
# YAML Files
*.yml
*.yaml
